-e .
bandit==1.7.4; implementation_name=="cpython"
black==22.3.0; implementation_name=="cpython"
flake8-bugbear==22.3.23; implementation_name=="cpython"
flake8-quotes==3.3.1; implementation_name=="cpython"
flake8==4.0.1; implementation_name=="cpython"
isort==5.10.1; implementation_name=="cpython"
mypy==0.942; implementation_name=="cpython"
pyroma==4.0; implementation_name=="cpython"
pytest-asyncio==0.18.3
pytest-cov==3.0.0
pytest==7.1.2
