-e .
bandit==1.7.3; implementation_name=="cpython"
black==22.1.0; implementation_name=="cpython"
flake8-bugbear==22.1.11; implementation_name=="cpython"
flake8-quotes==3.3.1; implementation_name=="cpython"
flake8==4.0.1; implementation_name=="cpython"
isort==5.10.1; implementation_name=="cpython"
mypy==0.940; implementation_name=="cpython"
pyroma==3.2; implementation_name=="cpython"
pytest-asyncio==0.18.2
pytest-cov==3.0.0
pytest==7.1.0
