name: CI

on:
  push:
    branches:
      - master
    tags: ["v*"]
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 6 * * *" # Daily 6AM UTC build

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "poetry"
      - name: Install dependencies
        run: |
          poetry install
      - name: Run lint
        run: |
          make lint
      - name: Build package
        run: poetry build
      - name: Check package metadata
        run: poetry check

  test:
    name: Test
    needs: lint
    strategy:
      matrix:
        pyver: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyver }}
          cache: "poetry"
      - name: Install dependencies
        run: poetry install
      - name: Run unittests
        env:
          COLOR: "yes"
        run: |
          make cov
          poetry run python -m coverage xml
      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unit
          fail_ci_if_error: false

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test
    # Run only on pushing a tag
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "poetry"
      - name: Install dependencies
        run: |
          poetry install
      - name: Publish to PyPI
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: poetry publish --build
